<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" android:sharedUserId="android.uid.system" android:versionCode="10" android:versionName="2.3.7" package="com.android.providers.subscribedfeeds">
  <uses-permission android:name="android.permission.USE_CREDENTIALS"/>
  <uses-permission android:name="android.permission.BACKUP"/>
  <uses-permission android:name="android.permission.READ_SYNC_SETTINGS"/>
  <uses-permission android:name="android.permission.WRITE_SYNC_SETTINGS"/>
  <uses-permission android:name="android.permission.READ_SYNC_STATS"/>
  <uses-permission android:name="android.permission.READ_SYNC_SETTINGS"/>
  <uses-permission android:name="android.permission.WRITE_SYNC_SETTINGS"/>
  <application android:label="@string/app_label" android:icon="@drawable/app_icon" android:allowClearUserData="false" android:process="system">
    <activity android:label="@string/sync_settings" android:name="com.android.settings.ManageAccountsSettings" android:launchMode="singleTop">
      <intent-filter>
        <action android:name="android.intent.action.MAIN"/>
        <action android:name="android.settings.SYNC_SETTINGS"/>
        <category android:name="android.intent.category.DEFAULT"/>
      </intent-filter>
    </activity>
    <activity android:theme="@*android:style/Theme.NoTitleBar" android:label="@string/sync_settings" android:name="com.android.settings.AccountSyncSettings">
      <intent-filter>
        <action android:name="android.intent.action.MAIN"/>
        <action android:name="android.settings.ACCOUNT_SYNC_SETTINGS"/>
        <category android:name="android.intent.category.DEFAULT"/>
      </intent-filter>
    </activity>
    <activity android:theme="@*android:style/Theme.NoTitleBar" android:label="@string/sync_settings" android:name="com.android.settings.XiaomiAccountSyncSettings" android:configChanges="keyboardHidden|orientation">
      <intent-filter>
        <action android:name="android.intent.action.MAIN"/>
        <action android:name="android.settings.XIAOMI_ACCOUNT_SYNC_SETTINGS"/>
        <category android:name="android.intent.category.DEFAULT"/>
      </intent-filter>
    </activity>
    <activity android:label="@string/user_phone_title" android:name="com.android.settings.XiaomiAccountBind" android:windowSoftInputMode="stateVisible">
      <intent-filter>
        <action android:name="android.intent.action.MAIN"/>
        <action android:name="android.settings.XIAOMI_ACCOUNT_BIND_NICKNAME"/>
        <category android:name="android.intent.category.DEFAULT"/>
      </intent-filter>
    </activity>
    <activity android:theme="@*android:style/Theme.NoTitleBar" android:label="@string/sync_settings" android:name="com.android.settings.AccountSyncSettingsInAddAccount">
      <intent-filter>
        <action android:name="android.intent.action.MAIN"/>
        <action android:name="android.settings.ACCOUNT_SYNC_SETTINGS_ADD_ACCOUNT"/>
        <category android:name="android.intent.category.DEFAULT"/>
      </intent-filter>
    </activity>
    <activity android:label="@string/header_add_an_account" android:name="com.android.settings.AddAccountSettings">
      <intent-filter>
        <action android:name="android.intent.action.MAIN"/>
        <action android:name="android.settings.ADD_ACCOUNT_SETTINGS"/>
        <category android:name="android.intent.category.DEFAULT"/>
      </intent-filter>
    </activity>
    <activity android:theme="@*android:style/Theme.Dialog" android:label="@string/sync_too_many_deletes" android:name="com.android.settings.SyncActivityTooManyDeletes">
      <intent-filter>
        <action android:name="android.intent.action.MAIN"/>
        <category android:name="android.intent.category.DEFAULT"/>
      </intent-filter>
    </activity>
  </application>
</manifest>
