<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" android:versionCode="10" android:versionName="2.3.3" package="com.android.inputmethod.latin">
  <uses-permission android:name="android.permission.VIBRATE"/>
  <uses-permission android:name="android.permission.READ_USER_DICTIONARY"/>
  <uses-permission android:name="android.permission.WRITE_USER_DICTIONARY"/>
  <uses-permission android:name="android.permission.RECORD_AUDIO"/>
  <uses-permission android:name="android.permission.READ_CONTACTS"/>
  <application android:label="@string/english_ime_name" android:backupAgent="LatinIMEBackupAgent" android:killAfterRestore="false">
    <service android:label="@string/english_ime_name" android:name="LatinIME" android:permission="android.permission.BIND_INPUT_METHOD">
      <intent-filter>
        <action android:name="android.view.InputMethod"/>
      </intent-filter>
      <meta-data android:name="android.view.im" android:resource="@xml/method"/>
    </service>
    <activity android:label="@string/english_ime_settings" android:name="LatinIMESettings">
      <intent-filter>
        <action android:name="android.intent.action.MAIN"/>
      </intent-filter>
    </activity>
    <activity android:label="@string/english_ime_debug_settings" android:name="LatinIMEDebugSettings">
      <intent-filter>
        <action android:name="android.intent.action.MAIN"/>
      </intent-filter>
    </activity>
    <activity android:label="@string/language_selection_title" android:name="InputLanguageSelection">
      <intent-filter>
        <action android:name="android.intent.action.MAIN"/>
        <action android:name="com.android.inputmethod.latin.INPUT_LANGUAGE_SELECTION"/>
        <category android:name="android.intent.category.DEFAULT"/>
      </intent-filter>
    </activity>
  </application>
</manifest>
